@font-face {
  font-family: BerkeleyMono;
  src: url(fonts/BerkeleyMono-Regular.woff2);
}

body {
  font-family: BerkeleyMono, Courier, monospace;
  margin-left: 2em;
  margin-right: 2em;
}

li {
  font-size: 1.1em;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
