body {
  font-family: Courier;
  margin-left: 2em;
  font-variant-ligatures: no-common-ligatures;
}

li {
  font-size: 1.1em;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
